<div id="wrapper">

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content" class="min-vh-100">

         <app-topbar></app-topbar>

          <div class="container-fluid">
              <h1 class="h4 mb-4 text-gray-800 text-center text-md-left font-weight-300">Friend Requests</h1>

              <div class="row mb-5">
                  <div class="col-xl-6 col-lg-8">
                    <app-result-request
                    *ngFor="let friendrequest of friendRequests"
                    [searchResult]="friendrequest"
                    switchUse="request"
                    (resultChanged)="updateFriendRequest($event)"></app-result-request>
                  </div>
                  <div class="col-xl-6 d-lg-none d-xl-block" style="margin-top: 14vh;">
                      <h3 class="display-2 font-weight-800 text-center" style="opacity: .2;">
                          A Social Media
                      </h3>
                      <h2 class="h1 font-weight-400 text-center">
                          <a routerLink="/feed" class="link text-center text-uppercase">Back to Feed</a>
                      </h2>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade p-0" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog">
  <div class="modal-dialog w-100 mx-auto" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Send Message to Sarah Parker</h5>
              <button type="button" class="close" data-dismiss="modal">
                  <span>&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form class="" action="index.html" method="post" id="send-message">
                  <textarea name="name" placeholder="Your message..." rows="6" class="w-100" required></textarea>
              </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Nevermind</button>
              <button type="submit" class="btn btn-primary" form="send-message">Send Message</button>
          </div>
      </div>
  </div>
</div>
